# Konfigurasi Koneksi ke Backend VPS
# Ganti dengan IP atau Domain VPS Anda, contoh: http://103.123.45.67:8000/api/v1 atau https://api.desa.id/api/v1
EXPO_PUBLIC_API_URL=https://api.desa-sukamaju.desa.id/api/v1
EXPO_PUBLIC_VILLAGE_NAME=Desa Sukamaju
EXPO_PUBLIC_ENABLE_MOCK_FALLBACK=true
