# Konfigurasi Koneksi ke Backend Supabase & API
EXPO_PUBLIC_SUPABASE_URL=https://jaqvxcnrqodumydeqlao.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcXZ4Y25ycW9kdW15ZGVxbGFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NDQ2ODUsImV4cCI6MjEwNTQyMDY4NX0.mwQ82XT2oz4NQAld6RuXaOBiePydEFaooOq8s7_ZMEo

# Konfigurasi Tambahan Aplikasi
EXPO_PUBLIC_API_URL=https://api.desa-sukamaju.desa.id/api/v1
EXPO_PUBLIC_VILLAGE_NAME=Desa Sukamaju
EXPO_PUBLIC_ENABLE_MOCK_FALLBACK=true
