# Konfigurasi Koneksi ke Backend Supabase & API
EXPO_PUBLIC_SUPABASE_URL=https://jaqvxcnrqodumydeqlao.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImphcXZ4Y25ycW9kdW15ZGVxbGFvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODk4NDQ2ODUsImV4cCI6MjEwNTQyMDY4NX0.mwQ82XT2oz4NQAld6RuXaOBiePydEFaooOq8s7_ZMEo

# Konfigurasi Tambahan Aplikasi
# Kosongkan untuk mode multi-desa terbuka, atau isi jika ingin merilis versi khusus satu desa
EXPO_PUBLIC_VILLAGE_NAME=
EXPO_PUBLIC_ENABLE_MOCK_FALLBACK=true
